{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="row mt-5">
<div class="col-md-9">
    {% for x in data %}
        {% if forloop.counter == 1 %}
            <h5 class="btn-danger text-white p-3">Customer Details</h5>
            <p><strong>UserName</strong>{{x.uid.username}}</p>
            <p><strong>Mobile</strong>9999999999</p>
            <p><strong>Email</strong>{{x.uid.email}}</p>
        {% endif %}
    {% endfor %}
</div>
    <div class="row">   
        {% for x in data %}
        <div class="col-md-4">
            <img src="{{ x.pid.pimage.url }}" width="100%" alt="Product Image">
        </div>
        <div class="col-md-6">
            <p><strong>Product Name</strong>{{x.pid.name}}</p>
            <p><strong>Product Price</strong>{{x.pid.price}}</p>
            {% if x.cat == 1 %}
                <p><strong>Category </strong>Mobile</p>
                {% elif x.cat == 2 %}
                <p><strong>Category </strong>Shoes</p>
                {% else %}
                <p><strong>Category </strong>Cloths</p>
                {% endif %}
                <p>
                    <strong>qty</strong>
                    <a href="/updateqty/0/{{x.id}}"><button class="btn btn-danger">-</button></a>
                    <input type="number" value="{{x.qty}}">
                    <a href="/updateqty/1/{{x.id}}"><button class="btn btn-danger">+</button></a>
                </p>
                <a href="/remove/{{x.id}}"><button class="btn btn-danger">Remove</button></a>
            </div>
            <hr>
                {% endfor %}
        </div>
    </div>

    <!--Customer and Product Details-->
    <div class="col-md-3">
        <h5>Total Amount</h5>
        <p><strong>Total</strong></p>
        <hr>
        <p><strong>Amount</strong></p>
        <a href="/placeorder"><button class="btn btn-danger">Place_Order</button></a>
    </div>

</div>
</div>

{% endblock 'main' %}


<!-- class product(models.Model):
    CAT=((1,'T-Shirts'),(2,'Shirts'),(3,'Jeans'), (4,'Trousers'), (5,'Boxers'))
    SIZE=((1,'S'),(2,'M'),(3,'L'), (4,'XL'), (5,'XXL'))
    name=models.CharField(max_length=50,verbose_name='Product Name')
    price=models.FloatField(verbose_name='Product Price')
    pdetails=models.CharField(max_length=100)
    cat=models.IntegerField(verbose_name='Product Category',choices=CAT)
    size=models.IntegerField(verbose_name='Size',choices=SIZE)
    is_active=models.BooleanField(default=True ,verbose_name='Available')
    pimage=models.ImageField(upload_to='image') -->